.kw-Accordion-Toggle-Title {
    padding: 0px 24px 12px 24px;
    background-color: #1135CA;
    color: #0072c0;
}

.kw-Accordion-Toggle {
    background-color: #1135CA;
    color: #0072c0;
    border: 1px #c6c6c6 solid;
}
